<div id="about">
  <div id="about-left-column">
    <%= image_tag 'ryotamiya.jpg', alt: "profile photo", class: 'avatar' %>
  </div>
  <div id="about-right-column">
      <h1 class="mt-3">Ryo Tamiya</h1>
      <h2>Full-stack developer</h2>
      <p>
        Welcome to my portfolio! I'm a full-stack developer based in Tokyo. <br>
        After studying music and working as a musician, I'm thrilled to dive into a new journey as a full-stack developer.
      </p>
      <div id="contact" class="d-flex justify-content-start align-items-center">
        <div class="button-social">
          <i class="fa-solid fa-envelope red"></i>
          <%= mail_to "ryo.tamiyaayimat.oyr@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social">
          <i class="fa-brands fa-github yellow"></i>
          <%= link_to "", "https://github.com/rtamiya", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social">
          <i class="fa-brands fa-linkedin blue"></i>
          <%= link_to "", "https://www.linkedin.com/in/ryotamiya/", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</div>
