<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2><span class="red">A</span>b<span class="blue">o</span><span class="yellow">u</span>t</h2>
        <p>I'm thrilled to welcome you to my portfolio webpage. As a full-stack web developer, I bring a unique blend of creativity, logical thinking, and problem-solving skills to the table. Before embarking on this exciting journey, I delved into the world of music, studying and working as a music teacher. This diverse background has enriched my perspective and fueled my passion for creating captivating web experiences.</p>
      </div>
    </div>
  </div>
</div>
