<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm thrilled to welcome you to my portfolio webpage. As a full-stack web developer, I bring a unique blend of creativity, logical thinking, and problem-solving skills to the table. Before embarking on this exciting journey, I delved into the world of music, studying and working as a music teacher. This diverse background has enriched my perspective and fueled my passion for creating captivating web experiences.</p>
      </div>
      <div class="mt-3">
        <h2>skills</h2>
        <h4>front-end</h4>
        <p>html, css/scss, javascript</p>
        <h4>back-end</h4>
        <p>ruby, rails, postgreSQL, heroku</p>
        <h4>others</h4>
        <p>git/github</p>
      </div>
    </div>
  </div>
</div>
